body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

#header{
    float: left;
    color: lightgrey;
    background-color: #181818;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    
}

#header a:link{
    color: #4285F4;
    text-decoration: none;
}

#header a:visited{
    color: #4285F4;
    text-decoration: none;
}

@keyframes hideKeypad{
    from {
        position: relative;
        bottom: 0%;
        opacity: 100%
    }
    to {
        position: relative;
        bottom: 100%;
        opacity: -150%
    }
}

@keyframes showKeypad{
    from {
        position: relative;
        bottom: 100%;
        opacity: -150%
    }
    to {
        position: relative;
        bottom: 0%;
        opacity: 100%
    }
}

#textCursor{
    color: #4285F4;
    font-size: 150px;
    order: 3;
}

#buttons{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 100%;

    position: relative;
    bottom: 150%;
}

input{
    font-size: 150px;
    text-align: right;
    width: 100%;
    background-color: #181818;
    color: lightgrey;
    border: 0px;
    font-family: "Roboto", sans-serif;
}

#displayinput{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#displayresultvalue{
    font-size: 100px;
    color: grey;
}

@keyframes blinking{
    0%{opacity: 100%;}
    50%{opacity: 0%;}
}

#textCursor{
    font-family: 'Times New Roman', Times, serif;
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}

button{
    font-size: 50px;
    background-color: #202020;
    border: 0px;
    color: lightgrey;
    font-family: "Roboto", sans-serif;
}

img{
    filter: invert(100%);
    width: 50px;
}

#toggle{
    width: 100%;
}

#expand_button{
    height: 50px;
    width: 100%;
    background-color: #181818;
}

#btn_equal{
    grid-column: 1 / 3;
    background-color: #4285F4;
}

#btn_add{
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

.operand{
    background-color: #151515;
}

#btn_subtract{
    background-color: #151515;
}

#btn_clear{
    background-color: #151515;
}